table {
    border-collapse: collapse;
    width: 100%;
    }
    
    th, td {
    padding: 3px;
    text-align: left;
    border: 2px solid #04314d;
    }
    
    tr.pt-data-row:hover {
    background-color: #5faaa2 !important;
    border: 2px solid #04314d;
    cursor: pointer;
    }
