/* TODO: Add sitewide styles */
body {
    background-color: #e2eff7;
    /* box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto; */
  }

p,
h3,
h4,
h5, h6, th, tr, td, label {
  font-family: "IBM Plex Sans";
  color: #101012;
}
h1,
h2,
li {
  font-family: "Crimson Pro";
  color: #101012;
}

button {
    display: flex;
    align-items: center;
    background-color: #8fb2c6;
    border: 2px solid #04314d;
    border-radius: 8px;
    color: #101012;
    cursor: pointer;
    font-family: "Crimson Pro";
    font-size: 15px;
    margin: 3px 5px;
    padding: 2px 4px;
    text-decoration: none;
  }

  button:hover{
    background-color: #5faaa2;
    cursor: pointer;
  }

  :disabled{
    display: flex;
    align-items: center;
    background-color: rgb(143, 178, 198) !important;
    opacity: 0.4;
    border: 2px solid #04314d;
    border-radius: 8px;
    cursor: not-allowed;
    font-family: "Philosopher";
    font-size: 15px;
    margin: 3px 5px;
    padding: 2px 4px;
    text-decoration: none;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button#yes-delete:hover{
    background-color: #A45045;
  }


  p.error{
    color: #6d0927;
    border: 1px dashed #6d0927;
    border-radius: 5px;
  }
