

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 300px; */
    min-width: 300px;
    max-width: fit-content;
    /* margin: 10px 10px; */
  }

  form.provider-form{
    align-items: center;
  }

  label {
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    max-width: 200px;
    padding: 5px;
    overflow: wrap;
    
  }

  div.user-creation > label{
    width: 250px;
  }

 div#signup-submit, div#provider-submit, div#patient-submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 3px;
  }
  #signup-submit, #provider-submit, #patient-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    font-size: larger;
    padding: 3px;
  }

  :disabled{
    display: flex;
    align-items: center;
    background-color: rgb(143, 178, 198 / .4 ) !important;
    border: 2px solid #04314d;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Philosopher";
    font-size: 15px;
    margin: 3px 5px;
    padding: 2px 4px;
    text-decoration: none;
  }

  section{
    display:flex;
    flex-direction: column;
  }

  div.fields{
    display: flex;
    flex-direction: row;
  }

  input{
    margin: 2px;
    max-width: 200px;
  }

  .select{
    padding: 1.5px
  }
  
